In [1]:
import numpy as np
import scipy as sp
import pandas as pd

In [3]:
df = pd.read_csv('water.txt', sep='\t')
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [ ]:
from statsmodels.stats.weightstats import _tconfint_generic

In [9]:
mortality = df['mortality']
mortality_mean = mortality.mean()
mortality_std = mortality.std(ddof=1) / np.sqrt(len(mortality))
degrees_of_freedom = len(mortality) - 1
a_level = 0.05

In [12]:
_tconfint_generic(mortality_mean, mortality_std, degrees_of_freedom, a_level, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [13]:
mortality = df[df['location'] == 'South']['mortality']
mortality_mean = mortality.mean()
mortality_std = mortality.std(ddof=1) / np.sqrt(len(mortality))
degrees_of_freedom = len(mortality) - 1
a_level = 0.05
_tconfint_generic(mortality_mean, mortality_std, degrees_of_freedom, a_level, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [14]:
mortality = df[df['location'] == 'North']['mortality']
mortality_mean = mortality.mean()
mortality_std = mortality.std(ddof=1) / np.sqrt(len(mortality))
degrees_of_freedom = len(mortality) - 1
a_level = 0.05
_tconfint_generic(mortality_mean, mortality_std, degrees_of_freedom, a_level, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [15]:
north_hardness = df[df['location'] == 'North']['hardness']
north_hardness_mean = north_hardness.mean()
north_hardness_std = north_hardness.std(ddof=1) / np.sqrt(len(north_hardness))
degrees_of_freedom = len(north_hardness) - 1
a_level = 0.05
_tconfint_generic(north_hardness_mean, north_hardness_std, degrees_of_freedom, a_level, 'two-sided')

(21.42248728572426, 39.37751271427574)

In [16]:
south_hardness = df[df['location'] == 'South']['hardness']
south_hardness_mean = south_hardness.mean()
south_hardness_std = south_hardness.std(ddof=1) / np.sqrt(len(south_hardness))
degrees_of_freedom = len(south_hardness) - 1
a_level = 0.05
_tconfint_generic(south_hardness_mean, south_hardness_std, degrees_of_freedom, a_level, 'two-sided')

(53.467198692036106, 86.07126284642544)