In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('ab_browser_test.csv')
df.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [6]:
df_exp = df[df['slot'] == 'exp']
df_con = df[df['slot'] == 'control']
(df_exp['n_clicks'].sum() - df_con['n_clicks'].sum()) / df_con['n_clicks'].sum() * 100

1.6135689824415809

In [7]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples

def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [ ]:
exp_bootstraped = get_bootstrap_samples(df_exp, 1000)
con_bootstraped = get_bootstrap_samples(df_con, 1000)
#stat_intervals(exp_bootstraped - con_bootstraped, 0.05)

In [ ]:
np.median(exp_bootstraped)