In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.cluster import MeanShift

/usr/local/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/usr/local/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [12]:
raw_df = pd.read_csv('checkins.csv')
df = raw_df[['latitude', 'longitude']].dropna(axis='index')
df.head()

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     latitude   longitude
1   38.895112  -77.036366
3   33.800745  -84.410520
7   45.523452 -122.676207
9   40.764462 -111.904565
10  33.448377 -112.074037

In [13]:
X = df.iloc[:100000]
X.describe()

            latitude      longitude
count  100000.000000  100000.000000
mean       36.886388     -89.396849
std         8.351517      35.579317
min       -45.031162    -159.670833
25%        33.494170    -112.074037
50%        38.646991     -87.743938
75%        40.740389     -75.163789
max        67.631479     174.908056

In [16]:
%%time

ms = MeanShift(bandwidth=0.1)
ms.fit(X)

CPU times: user 3min 58s, sys: 3.64 s, total: 4min 2s
Wall time: 4min 7s

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [17]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_

In [23]:
offices = pd.read_csv('offices.csv').to_numpy()

In [25]:
cluster_centers[256]

array([ 33.65028436, -84.43758001])

In [30]:
distances = np.sum((cluster_centers[:, None, :] - offices[None, :, :])**2, axis=2)

In [35]:
min_distances = np.min(distances, axis=1)
min_distances.shape

(3231,)

In [38]:
min_distance = np.argmin(min_distances)
cluster_centers[min_distance, :]

array([-33.86063043, 151.20477593])